:root {
    --body-color: rgb(0, 0, 0);
    --primary-color: #117;
    ---secondary-color: rgb(8, 20, 23);
}

html,
body {
    padding: 1.5%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(69deg, #a34841, rgb(98, 176, 155));
    color: var(---secondary-color);
    overflow: hidden;
}


#container {
    width: auto;
    height: auto;

    margin: 0px auto;
    text-align: center;
}

#myCanvas {
    border: 1px solid blue;
    width: auto;
    height: auto;

}

h1 {
    text-align: center;
}